body {
    background-image: url(./images/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

canvas {
    background-color: #FFF5;
}


.game-screen {
    position: relative;
    display: inline-block;
}

.start-button {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 40px);
}