* {
  margin: 0;
  padding: 0;
}

.w3-tangerine {
  font-family: "Tangerine", serif;
  text-align: center;
  font-size: 100px;
  color: orangered;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-image: url("./images/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#control {
  position: fixed;
  top: 2%;
  right: 2%;
}

canvas {
  background-color: #fff5;
}

.instructions {
  position: absolute;
  top: 0;
  padding: 20px;
}

.instructions ul {
}

.game-screen {
  position: relative;
  display: inline-block;
}

.start-button {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 40px);
  padding: 10px;
}
